*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root{
    --white:#fff;
    --black:#000;
    --green:#278883;
    --gray:#80808069;
}

.container{
    width: 90%;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

.show {
    display: block;
}

/* CSS styles for the head navbar*/

.header{
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pexel .logo img{
    width: 40px;
    border-radius: 10px;
    margin-right: 15px;
}

.pexel .logo p{
    font-size: 15px;
    font-weight: bold;
}

/*Styles for the search area*/
.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    flex: 1;
}
    
.search p{
    border: 1px solid;
    padding: 15px 10px;
    border-radius: 5px 0 0 5px;
    border-color: var(--gray);
}
    
input{
    padding: 15px 10px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 0 5px 5px 0;
    border-color: var(--gray);
    flex: 1;
}
    
.fa-search{
    position: absolute;
    right: 6%;
}

/* Styles for the explore section in the navbar*/

.explore{
    justify-content: space-between;
}

.fa-times{
    color: white
}

.option select{
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
    outline: none;
}

option{
    background-color: var(--white);
    color: var(--green);
}
.licence p{
    color: var(--gray);
    padding-left: 15px;
}

.notifications .fa-bell{
    font-size: 1.5em;
    padding-left: 15px;
}

.profile .fa-b{
    font-size: 1em;
    background-color: var(--gray);
    color: var(--white);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;
}

.upload a{
    background-color: var(--green);
    color: var(--white);
    padding: 15px;
    border-radius: 5px;
    margin-left: 20px;
}

.menu .fa-bars{
    display: none;
}

.bars{
    display: none;
    width: 40px;
    padding-left: 10px;
}

/* Styles for the bottom navbar which is use to search for images */
.overflow-scroll{
    overflow-x: scroll;
    scrollbar-width: none;
}

.ul.flex{
    grid-gap: 10px ;
}

.ul li a{
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--gray);
    padding: 15px 25px;
    border-radius: 5px;
}

.ul li a:hover{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    transition: .5s;
}

h2.free{
    font-size: 30px;
}

/* Photos, videos, and users section*/
.photos-video-container{
    justify-content: space-between;
    padding: 20px 0;
}

.photos-videos-tab li{
    padding: 20px 0;
}

.photos-videos-tab li .active{
    background-color: var(--black);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 15px;
}

.photos-videos-tab li a span{
    color: var(--gray);
}

.filter-popular a{
    border: 1px solid var(--gray);
    padding: 15px;
    transition: .5s;
}

.filter-popular a:hover{
    background-color: var(--black);
    color: var(--white);
}

/*Image section*/

.img{
    padding: 10px 0 30px 0;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

.grid, .grid-template{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.grid-template{
    justify-content: center;
}

.grid img, .placeholder{
    width: 100%;
    cursor: pointer;
    height: 200px;
    object-fit: cover;
    color: #000;
}

.placeholder{
    background-color: rgba(0, 0, 0, 0.2);
}

.relative{
    position: relative;
}

.download{
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: var(--green);
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}

.download-icon{
    width: 15px !important;
    height: 15px !important;
    display: inline-block;
    margin-right: 10px;
}

.download button{
    background: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.pexel-profile{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: var(--white);
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.profile-img{
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    margin-right: 10px;
}

.absolute{
    position: absolute;
    top: 5%;
    right: 5%;
}

.img-container{
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.absolute img{
    width: 15px;
    height: 15px;
}

.margin{
    margin-right: 10px;
}

.icon-flex{
    display: flex;
}

.relative .pexel-profile, .relative .absolute, .relative .download{
    opacity: 0;
}

.relative:hover .pexel-profile, .relative:hover .absolute, .relative:hover .download{
    opacity: 1;
}

/*Footer section*/
footer{
    background-color: var(--black);
    color: #fff;
    padding: 30px 0;
}

.free-photos, .apps, .social{
    padding: 10px 0;
}


.free-photos h4{
    padding : 0 0 2px 0;
    font-size: 18px;
}

.apps a{
    color: white;
}

.pexel h4, .company h4{
    padding: 5px 0;
    font-weight: normal;
}

h4.pex, .stocks h4{
    font-weight: bold;
    padding-bottom: 20px;
}

.stocks div a{
    display: inline-block;
    color: white;
    border: 1px solid white;
    margin: 5px 0;
    padding: 8px;
}

.footer{
    padding-top: 25px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}

.term p, .term div{
    display: inline-block;
    padding: 10px;
}

#lang{
    width: 100px;
    outline: none;
    border: 2px solid #278883;
    border-radius: 5px;
    padding: 10px;
}

#lang option{
    background-color: black;
    color: white;
}

.download-bg-gray{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.download-bg-gray .fa-times{
    position: absolute;
    top: 5%;
    left: 10%;
    cursor: pointer;
}

.download-bg-white{
    width: 70%;
    margin: auto;
    padding: 30px 0;
    background-color: var(--white);
    border-radius: 5px;
    margin-top: 10px;
}

.download-navbar{
    display: flex;
    flex-direction: column;
}

.download-navbar-container, .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details{
    padding: 10px;
}

.profile-details h3{
    font-size: 16px;
    font-size: bold;
    color: #444;
    cursor: pointer;
}

.profile-details p{
    color: var(--gray);
    font-size: 14px;
    cursor: pointer;
}

.image-action button{
    border: 1px solid var(--gray);
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.image-action button span{
    font-weight: bold;
}

.download-button{
    background-color: var(--green);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.image-uploaded-container{
    width: 100%;
}

.image-uploaded{
    display: block;
    width: 60%;
    margin: auto;
    height: 350px;
    object-fit: cover;
    padding-top: 30px;
}
/*Media Querries*/

@media (max-width: 110px) {
    .grid2{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .grid-template{
        grid-template-columns: 1fr 1fr;
    }

    .grid2{
        grid-template-columns: 1fr 2fr;
    }

    .explore{
        flex-direction: column;
        background: #278883;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        width: 200px;
        margin-right: -200px;
        transition: .5s;
    }

    .option select, .upload a{
        background-color: white;
        color: var(--green);
    }

    .licence p{
        color: white;
        padding: 20px 0 10px 0;
    }

    .notifications .fa-bell{
        padding: 10px 0;
        font-size: 2.5em;
    }

    .fa-bell{
        color: var(--white);
    }

    .profile .fa-b{
        margin: 10px 0;
    }

    .upload a{
        display: inline-block;
        margin: 10px 0;
    }

    .fa-times{
        padding-bottom: 10px;
    }

    .bars{
        display: inline-block;
    }
}

@media (max-width: 850px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .grid{
        grid-template-columns:1fr 1fr;
    }

    .grid-template{
        grid-template-columns: 1fr !important;
    }

    .grid2{
        grid-template-columns: 1fr;
    }

    .footer p{
        text-align: center;
    }
}

@media (max-width: 400px) {
    .grid{
        grid-template-columns:1fr;
    }
}